/* TOP */
#top ul{
    padding-top: 8px;
}

#top ul li{
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white;
}

.social ul li a i{
    font-size: 18px;
    margin: 0 1px;
}

.registro ul{
    text-align: right;
    font-size: 14px;
}
/* HEADER */
header #btnCategorias{
    margin: 20px 0;
}

header #btnCategorias p{
    line-height: 40px;
    margin-bottom: 0px;
}

header #btnCategorias p span{
    cursor: pointer;
}

header #buscador{
    margin: 20px 0;
}

header #buscador input{
    padding: 19px;
    border-radius: 0;
}

header #buscador button{
    padding: 9px;
    border: 1px solid silver;
    border-radius: 0;
}

header #carrito{
    margin: 20px 0;
}

header #carrito button{
    padding: 9px 15px;
    border: 1px solid silver;
    border-radius: 5px;
}

header #carrito p{
    padding: 2px;
    padding-left: 60px;
    border: 1px solid #aaa;
    font-size: 14px;
}

header #categorias{
    display: none;
    margin-top: -10px;
    position: relative;
    padding-bottom: 30px;
}

header #categorias h4{
    margin-top: 20px;
    margin-bottom: -10px;
}

header #categorias hr{
    border: 1px solid rgba(255, 255, 255, 3);
}

/* ESCRITORIO GRANDE 1366PX EN ADELANTE */
@media(min-width:1200px){

    /* HEADER */
    header #logotipo img{
        padding: 20px 60px;
        padding-left: 0px;
    }

    /* CARRITO */
    header #carrito{
        padding-left: 100px;
    }

}

/* ESCRITORIO MEDIANO O TABLET HORIZONTAL */
@media(max-width:1199px) and (min-width:992px){
    /* HEADER */
    header #logotipo img{
        padding: 25px 60px;
        padding-left: 0px;
    }
    /* CARRITO */
    header #carrito{
        padding-left: 70px;
    }
}

/* ESCRITORIO GRANDE 1366px en adelante */
@media(min-width:1200px){
    /* HEADER */
    header #logotipo img{
        padding: 20px 60px;
        padding-left: 0px;
    }    
    /* CARRITO */
    header #carrito{
        padding-left: 100px;
    }
}

/* ESCRITORIO MEDIANO  O TABLET HORIZONTAL*/
@media(max-width:1199px) and (min-width:992px){
    /* HEADER */
    header #logotipo img{
        padding: 25px 60px;
        padding-left: 0px;
    }
    /* CARRITO */
    header #carrito{
        padding-left: 70px;
    }
}

/* ESCRITORIO PEQUEÑO O TABLET VERTICAL */
@media(max-width:991px) and (min-width:768px){
    /* HEADER */
    header #logotipo img{
        padding: 30px 0px;
    }

    /* CARRITO */
    header #carrito{
        padding-left: 55px;
    }

    /* CARRITO */
    header #carrito p{
        display: none;
    }
}

/* MOVIL */
@media(max-width:767px){
    /* TOP */
    #top ul{
        text-align: center;
    }

    /* HEADER */
    header #logotipo img{
        padding: 30px;
        padding-bottom: 10px;
    }
    header #categorias{
        margin-bottom: 10px;
    }

    header #buscador{
        margin-bottom: 10px;
    }

    /* CARRITO */
    header #carrito{
        margin: 0px;
    }
}