/* VARIABLE GLOBALES */
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

ul, ol{
    padding: 0px;
}

a.visited, a:link, a.focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;
}

.barraSuperior{
    background: #000000;
}

.barraSuperior a{
    color: white;
}

.backColor, .backColor a{
    background:#279076;
    color: white;
}

/* REDES SOCIALES */
.redSocial{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.facebookColor{
    color: white;
    background: #46639f;
}

.instagramColor{
    color: white;
    background: linear-gradient(45deg, #fca925,#ee1d5f,#6350a2);
}

.twitterColor{
    color: #ffffff;
    background: #00acee;
}

.youtubeColor{
    color: #ffffff;
    background: #c4302b ;
}

/* ERROR 404 */
.error404{
    color: #333;
}

.error404 h1{
    margin-top: -20px;
}

/* ESCRITORIO GRANDE 1366PX EN ADELANTE */
@media(min-width:1200px){
    .col-lg-0{
        display: none;
    }

    .error404 h1{
        font-size: 300px;
        text-shadow: 8px 8px 1px #dadadada;
    }
}

/* ESCRITORIO MEDIANO O TABLET HORIZONTAL */
@media(max-width:1199px) and (min-width:992px){
    .col-md-0{
        display: none;
    }

    .error404 h1{
        font-size: 300px;
        text-shadow: 6px 6px 1px #dadadada;
    }
}

/* ESCRITORIO PEQUEÑO O TABLER VERTICAL */
@media(max-width:991px) and (min-width:768px){
    .col-sm-0{
        display: none;
    }

    .error404 h1{
        font-size: 150px;
        text-shadow: 4px 4px 1px #dadadada;
    }
}

/* MOVIL */
@media(max-width:767px){
    .col-xs-0{
        display: none;
    }

    .error404 h1{
        font-size: 75px;
        text-shadow: 2px 2px 1px #dadadada;
    }
}